// Primary Colors
$light-blue: '#456C61';
$dark-blue: '#4A5D52';
$orange: '#F2852A';
$pale-yellow: '#FFEBBB';
$black: '#414439';

// Box shadow
$basic-shadow: 14px 10px 21px -6px rgba(0,0,0,0.18);

// Font
@font-face {
	font-family: 'ApeOut';
	src: url('/fonts/apeout.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
