@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$red: #B3001B;
$black: #262626;
$yellow: #F2AF29;
$blue: #255C99;
$white: #FDFDFF;
$grey: #C6C5B9;
$teal: #62929E;
